<% if (theme.sidebar && theme.sidebar.enable) { %>
<%
  // Build widgets list from config
  var widgets = theme.sidebar.widgets || [];
  if (!Array.isArray(widgets) || widgets.length === 0) {
    widgets = ['recent_posts'];
  }
%>

<% widgets.forEach(function(widget) { %>

<% if (widget === 'recent_posts') { %>
<div class="sidebar-widget">
  <h3 class="widget-title">最新文章</h3>
  <ul class="widget-list">
    <% site.posts.sort('date', -1).limit(8).each(function(post) { %>
    <li>
      <a href="<%= url_for(post.path) %>" title="<%= post.title %>"><%= post.title %></a>
      <span class="widget-post-date"><%= date(post.date, 'YYYY-MM-DD') %></span>
    </li>
    <% }); %>
  </ul>
</div>
<% } %>

<% }); %>
<% } %>
